@CHARSET "UTF-8";
/*html {
    font-size: 62.5%;
}*/
/*a{
	color: #12b7f5;
}*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html{ font-size:62.5% !important;outline:none;font-family: "Helvetica Neue", "Roboto", sans-serif; }
@media all and (min-width:376px) and (max-width:414px){html{font-size:12px}}

body{
	 /*font-size: 1.55rem;
    line-height: 2.2rem;
    font-family: "Helvetica"; */
	background-color: #f7f6f9;
	-webkit-backface-visibility: hidden;/* for 闪屏 */
}
.bgcf7f6f9{/*灰色背景*/
	background-color: #f7f6f9;
}
.bgcffffff{
   background-color: #ffffff;
}
.bgc12b7f5{/*按钮蓝色背景色*/
 background-color: #12b7f5;
}
.lineE4E4E4{
   color:#E4E4E4;
}
.font232323{/**黑色字体**/
	color: #232323;
}
.font8d9193{
   color: #8d9193;
}
.font888888{
 color: #888888;
}
.fontffffff{
 color: #ffffff;
}
.font808080{
 color: #808080;
}
.font929292{/**灰色字体*/
	color: #929292;
}


.font12b7f5{/*蓝色字体*/
	color: #12b7f5;
}
.fontfd3535{/*红色字体*/
 color: #fd3535;
}
.font666666{
 color:#666666;
}
.font333333 {
    color: #333;
}
.font15em{
	font-size: 1.5rem;
}
.fm155{font-size:1.55rem}
.font14em{
	font-size: 1.4rem;
}
/* @media screen and (min-width:400px) {
 .font14em{ font-size:8px !important;}
}  */
.font13em{
	font-size: 1.3rem;
}
.font12em{
	font-size: 1.2rem;
}
.font13px{
	font-size: 13px;
}
.font14px{
	font-size: 14px;
}
.font11em{
	font-size: 1.1rem;
}
.font10em{
	font-size: 1.0rem;
}
.bgcccccc{
    background-color: #CCCCCC;
}
.textindet10{
    text-indent: 10px;
}
.textindet20{
    text-indent: 35px;
}
.textindet30{
    text-indent: 45px;
}
.textindet40{
    text-indent: 55px;
}
.recommend_title{
	font-size: 1.5rem;
}
.margin_top_25{
    margin-top: 2.5rem;
}
.margin_top_10{
    margin-top: 1rem;
}

.icon_img{background:url(../img/sprite/icon_img.png)  no-repeat;background-size:25px 200px}
.back{display:block;height:18px;width:10px;background-position:0 0;}
.close-2{height:15px;width:15px;background-position:0 -18px;}
.lucky{height:17px;width:17px;background-position:0 -33px;}
.service_on{height:20px;width:20px;background-position:0 -50px;}
.right_btn{height:25px;width:25px;background-position:0 -75px;}
.service_off{height:20px;width:20px;background-position:0 -100px;background-size: 100% 100%;}
.insurance_off{height:20px;width:20px;background-position:0 -125px;}
.insurance_on{height:20px;width:20px;background-position:0 -150px; background-size: 100% 100%;}
.left{height:25px;width:25px;background-position:0 -175px;}

.insurance_on_btn{background:url(../img/icon/insurance_on.png)  no-repeat;height:20px;width:20px;background-position:0 0;background-size:100% 100%;}
.insurance_off_btn{background:url(../img/icon/insurance_off.png)  no-repeat;height:20px;width:20px;background-position:0 0;background-size:100% 100%;}
.service_off_btn{background:url(../img/icon/service_off.png)  no-repeat;height:20px;width:20px;background-position:0 0;background-size:100% 100%;}
.service_on_btn{background:url(../img/icon/service_on.png)  no-repeat;height:20px;width:20px;background-position:0 0;background-size:100% 100%;}
.btn_right_arraw{background:url(../img/icon/right_btn.png)  no-repeat;height:13px;width:13px;background-position:0 0;background-size:100% 100%;}

.list_none{
    padding-bottom: 5.5rem;
}
.index_recommend_list .index_recommend_one{
	background-color: #ffffff;
	margin-bottom: 10px;
	border-top:1px solid #E4E4E4;
	border-bottom:1px solid #E4E4E4;
}
.index_recommend_list img{
	width: 100%;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
}
.index_recommend_list .index_recommend_description{
	padding-top: 10px;
	width: 100%;
	display: flex;
    display: -webkit-box;
    /* display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    align-items: center;
    -webkit-align-items:center;
    -webkit-box-align: center;
	font-size: 1.3rem;
}
.index_recommend_list .index_recommend_description .left_desc .font929292{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.index_recommend_list .index_recommend_description .left_desc{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* width: 70%; */
	flex:0.7;
	-webkit-box-flex:0.7;
}
.index_recommend_list .index_recommend_description .right_desc{
	vertical-align: top;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* width: 30%; */
	text-align: right;
	position: relative;
	top: -5px;
	flex:0.3;
	-webkit-box-flex:0.3;
}
.right_desc{
    overflow:hidden;
}
.right_desc .price{
	color: #fd3535;
	font-size: 1.5em;
	font-weight: 300;
}
.index_service{
	/*background-color: #f7f6f9;*/
}
.index_service li{
	border: none;
	background-color: #FFFFFF;/*没生效*/
	margin-bottom: 20px;
	margin-top: 20px;
}
.ui-header .ui-title, .ui-footer .ui-title{
  margin:0 20%;
}
.ui-listview-inset > .ui-li-static, .ui-listview-inset > .ui-li-divider, .ui-listview-inset > li > a.ui-btn{
	border-left-width:0px;
	border-right-width: 0px;
}
.ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn{
	border-width: 0px;
}
.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn{
	border-width: 0px;
	background-color:#FFFFFF;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
    text-shadow:none;
}
/*****修改page背景色**********/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color:#f7f6f9;
}
/***修改ul，li下面的背景色***/
.ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn{
	background-color: #FFFFFF;
}

.index_service .ui-listview a.ui-btn:link,.index_service .ui-listview a.ui-btn:hover,.index_service .ui-listview a.ui-btn:active,.index_service .ui-listview a.ui-btn:visited{
	font-size: 1.4em;
	font-weight: 100;
	color: #232323;
	background-color: #FFFFFF;
	color: #232323;
}




/*********保险详情页************/
/* .ui-content.bgcffffff{
 padding-bottom:0;
 box-sizing:border-box;
} */
.insurance_detail .insurance_name{
	height:100px;
	width: 100%;
	background: url(../img/insurance/banner.png) no-repeat;
	/* filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6; */
	background-size:100% 100px;
    -moz-background-size:100% 100px;
    margin-top:-2px;
}
.insurance_scope{
  display:flex;
  -webkit-align-items:center;
  align-items:center;
}
.insurance_detail .insurance_from{
	float: right;
	position: absolute;
	top: 1.5rem;
	right: 0;
	z-index: 2;
	text-align: right;
	/* width: 125px; */
	padding:2px 8px;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	background-color: #cfcbb4;
	/* filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6; */
	font-size: 1.3rem;
}
.insurance_detail .insurance_from::after{
	clear: both;
}
.insurance_detail .name_font{
	position: absolute;
	top: 1.55rem;
	left: 1rem;
	right: 0;
	z-index: 2;
	color: #ffffff;
	/* line-height: 2.0em; */
}
.insurance_detail .name_font .name{
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.8;
}
.insurance_detail .name_font .summary{
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 3.5;
}
.insurance_coverage{
	height: 25px;
	line-height: 25px;
	font-size: 1.3rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* color:#666666; */
}
.agree_chkb .agreement{
	border: none;
}
.agree_chkb a{
	font-weight: 100;
}
.agree_chkb .agreement.ui-checkbox-on,.agree_chkb .agreement.ui-checkbox-off{
	background-color: #F7F6FB;
}
/**改变默认a的大小和颜色**/
/*.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
	color: #000000;
	font-weight: 100;
}*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
 font-weight:normal;
}
a.bgcffffff:link,a.bgcffffff:hover,a.bgcffffff:active,a.bgcffffff:visited{
	color: #232323;
	font-weight: 200;
	text-shadow: none;
}
.insurance_obj{
	/* margin-top: 1rem; */
	padding:0 1rem 0 1rem;
}
.insurance_obj li{
	height: 40px;
	line-height: 36px;
	border-top:1px solid #E4E4E4;
	box-sizing:border-box;
}
/* .insurance_obj li:last-child{
	border-bottom:1px solid #ccc;
} */
.insurance_obj .insurance_right{
	text-align: right;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
	float: right;
}
.insurance_obj .insurance_right:after{
	clear: both;	
}
.insurance_right .price{
	font-size: 1.6em;
	font-weight: 700;
	color: #fd3535;
}

.btn_toubao{
	border-width: 0px;
	background-color:#12b7f5 ;
	color: #FFFFFF;
	/* text-shadow: none;
	box-shadow: none; */
	border-style :none;
	padding:0.8rem;
	-moz-border-radius: 0.55rem; /* Firefox */
    -webkit-border-radius: 0.55rem; /* Safari 和 Chrome */
    border-radius: 0.55rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    font-size: 1.6rem;
    /* border: 1px solid #E4E4E4; */
    width: 100%;
}
.btn_confirm{
	border-width: 0px;
	background-color:#f51212 ;
	color: #FFFFFF;
	/* text-shadow: none;
	box-shadow: none; */
	border-style :none;
	padding:0.7rem;
	-moz-border-radius: 0.55rem; /* Firefox */
    -webkit-border-radius: 0.55rem; /* Safari 和 Chrome */
    border-radius: 0.55rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    font-size: 1.6rem;
    /* border: 1px solid #E4E4E4; */
    width: 100%;
}


/**修改label样式*/
.agreement.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on{
	border-width: 0px;
}

.tuiguangma_dialog.ui-popup.ui-body-inherit.ui-overlay-shadow.ui-corner-all{
	background-color:#12b7f5 ;
	color: #FFFFFF;
	border: none;
	border-radius: none;
	box-shadow: none;
}
.tuiguangma_dialog .close-btn{
	padding: 10px 10px 0px 10px;
}
.tuiguangma_dialog .close-btn span{
	cursor: pointer;
}
.tuiguangma_dialog input{
	background-color: white;
}
.tuiguangma_buttons.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all{
	width: 100%;
	background-color: white;
	margin: 0;
}
.tuiguangma_buttons.ui-corner-all{
	border-radius: none;
}
.tuiguangma_buttons a:link,.tuiguangma_buttons a:hover,.tuiguangma_buttons a:active,.tuiguangma_buttons a:visited{
	color: #12b7f5;
	font-weight: 100;
	text-shadow: none;
	background-color: #FFFFFF;
}
/**修改弹出框的button边框**/
.tuiguangma_buttons .ui-controlgroup-controls, .ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-select, .ui-controlgroup-controls li{
	border-radius:0;
	
}
.dialog_buttons{
	display: inline-flex;
	width: 100%;
}
/*.dialog_buttons .ui-btn:link,.dialog_buttons .ui-btn:hover,.dialog_buttons .ui-btn:active,.dialog_buttons .ui-btn:visited{*/
.dialog_buttons .ui-btn{
	width: 50%;
	border-radius: 0;
	background-color: #FFFFFF;
	color: #12b7f5;
	margin: 0;
	font-weight: 100;
}
.dialog_buttons .ui-btn:hover{
	background-color: #FFFFFF;
	color: #12b7f5;
}

/*************************8**奖励记录*********************8********/
.nonedata{
	background-color: white;
	width: 100%;
	height: 200px;
}
.nonedata img{
	margin-top: 35px;
	width: 50px;
	height: 50px;
}
.nonedata .remind_font{
	color: #949494;
	height: 30px;
	line-height: 30px;
}
.nonedata a{
	color: #12b7f5;
}
.nonedata a:link,.nonedata a:hover,.nonedata a:active,.nonedata a:visited{
	color: #12b7f5;
	cursor: pointer;
}

.common_remind .icon_line{
	height: 2px;
}
.common_remind .middle_libao{
	width: 28px;
	height: 28px;
}
.common_remind .middle_font{
	height: 30px;
	color: #A6A6A8;
}
.common_remind .desc_content{
	margin-top: 5px;
	color: #A6A6A8;
	height: 35px;
	line-height: 1;
}
.data_list .data_one{
	margin-bottom: 10px;
	background-color: white;
	padding: 0.8em;
	height: 6.6em;
	line-height: 1.6em;
}
.data_list .data_one .left_one{
	float: left;
}
.data_list .data_one .right_one{
	float: right;
}
.data_list .data_one .left_one:after,.data_list .data_one .right_one:after{
	clear: both;
}
.data_list .data_one .left_one .name{
	font-size: 1.5em;
	overflow: hidden;
}
.data_list .data_one .left_one .number{
	color: #A6A6A8;
	font-size: 1.3em;
	overflow: hidden;
}
.data_list .data_one .left_one .time{
	color: #A6A6A8;
	font-size: 0.9em;
	overflow: hidden;
}
.data_list .data_one .right_one .caifuzhi{
	margin-top: 0.5em;
	font-size:1.6em;
	color: #fd3535;
	font-weight: 600;
}
.data_list .data_one .right_one .caifuzhi_font{
	font-size:0.9em;
	/*color: #A6A6A8;*/
}

/*********************保单查询***************************/
.policy_inquiry p{
	line-height: 1.5em;
}
/**********************修改jq mobile内已设置样式 begin**************************/
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	background-color:#3A3A3A;
	color: #fefefe;
}
/**返回icon*/
.ui-icon-back:after {  
   background-image: url("../img/icon/back.png");  /**你的图片，路径是相对于当前使用文件可以访问到的*/  
   background-size: 0.6em 1.3em;  
   border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/  
}
/*保险icon on状态**/  
.ui-icon-baoxian-on:after {  
   background-image: url("../img/icon/insurance_on.png");  /**你的图片，路径是相对于当前使用文件可以访问到的*/  
   background-size: 1.6em 1.6em;  
   border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/  
   background-color: #FFFFFF;
}
/*保险icon off状态**/  
.ui-icon-baoxian-off:after {  
   background-image: url("../img/icon/insurance_off.png");  /**你的图片，路径是相对于当前使用文件可以访问到的*/  
   background-size:  1.6em 1.6em;  
   border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/  
   background-color: #FFFFFF;
}
/*服务icon on状态**/  
.ui-icon-service-on:after {  
   background-image: url("../img/icon/service_on.png");  /**你的图片，路径是相对于当前使用文件可以访问到的*/  
   background-size: 1.6em 1.6em;  
   border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/  
   background-color: #FFFFFF;
}
/*服务icon off状态**/  
.ui-icon-service-off:after {  
   background-image: url("../img/icon/service_off.png");  /**你的图片，路径是相对于当前使用文件可以访问到的*/  
   background-size: 1.6em 1.6em;  
   border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/  
   background-color: #FFFFFF;
}


.ui-page-theme-a .ui-bar-inherit{
  border-color:#3a3a3a;
  /* border-width: 2px; */
}

.zll_header.ui-header .ui-title{
	font-size: 1.7rem;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
   text-shadow:none;
}
.ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
   text-shadow:none;
}
.zll_header .ui-icon-back{
	background-color: #3A3A3A;
	border: none;
}
.zll_header .ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-notext.ui-corner-all::after{
	top: 55%;
}
.zll_header .ui-btn-icon-notext::after{
	background-color: #3A3A3A;
	margin-top:-9px;
}
.zll_header .ui-btn-icon-notext:hover{
	background-color: #3A3A3A;
}
.zll_footer.ui-bar-inherit{
    border:0 none;
}
.zll_footer .ui-btn{
    border-width:0;
    font-size:0.8rem;
    line-height:0.8;
}
.zll_footer .ui-btn:active{
	background-color: #ffffff;
	text-shadow: none;
	box-shadow: none;
	border:0 none;
	border-width:0;
}
.zll_footer .ui-btn:visited{
	background-color: #ffffff;
	text-shadow: none;
	box-shadow: none;
	border:0 none;
	border-width:0;
}
/**去除a的阴影*/
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus{
	box-shadow: none;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on::after, html .ui-bar-a .ui-checkbox-on::after, html .ui-body-a .ui-checkbox-on::after, html body .ui-group-theme-a .ui-checkbox-on::after, .ui-btn.ui-checkbox-on.ui-btn-a::after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active{
	text-shadow: none;
}
.ui-footer-fixed{
	padding-bottom: 0px;
}
.zll_footer .ui-btn.on{/*on状态*/
	background-color: #ffffff;
	color: #12b7f5;
	/* font-size:1.0rem; */
}
.zll_footer .ui-btn.off{/*off状态*/
	background-color: #ffffff;
	color: #929292;
	/* font-size:1.0rem; */
}
.zll_footer .ui-btn.on:hover{
	background-color: #ffffff;
	color: #12b7f5;
	/* font-size:1.0rem; */
}
.zll_footer .ui-btn.off:hover{
	background-color: #ffffff;
	color: #929292;
	/* font-size:1.0rem; */
}
.zll_footer .ui-btn.ui-corner-all{
	border-radius: 0;
}
/**********************修改jq mobile内已设置样式 end**************************/
.customer_hotline_content{
	width: 250px;
	height: 100px;
}
.customer_hotline_content .commpany_name,.customer_hotline_content .commpany_tel{
	display: inline-block;
	width: 50%;
	line-height: 2.4em;
	font-size: 1.4em;
}
.add_desc{
	color: #fd3535;
	/* height: 2.0rem; */
	line-height: 1.6rem; 
	padding:0rem 1rem 1rem 1rem;
}
/****服务tab页********/
.white {
    background: #FFFFFF;
    /* border: solid 1px #e4e4e4;
    border-left: none;
    border-right: none; */
    font-size: 1.4rem;
    padding: 1.3rem;  /* margin-top:2rem; */
   	margin-top: 1rem;
   	/* height:4rem;
   	line-height: 4rem;
   	padding-left:1.3rem;
   	padding-right: 1.3rem; */
}
.mat10 {
    margin-top: 1rem;
}
.arow_r, .arow_rt {
	/*background-image: url(../img/icon/right_btn.png);
    font-size: 2rem;*/
    float: right;
    /*color: #ccc;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s;*/
}


/******保障详情页******/
.insurance_detail table{
	border-left: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    color:#232323;
}
.insurance_detail p{
    color:#232323;
    text-indent: 8px;
    line-height:1.8;
}
.insurance_detail table tr:first-child{
	font-weight: bold;
}
.insurance_detail table td{
	 border-right:1px solid #E4E4E4;
	 border-top: 1px solid #E4E4E4;
	 text-spacing: 2;
	 line-height: 1.6rem;
	 /*font-size: 1.4rem;*/
	 padding:5px 10px; 
}
.item_desc{
	display: none;
	padding: 10px;
	font-size:1.2rem;
	line-height:1.8;
}

/*旋转90度*/
.rotate90 {
   /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*****checkbox勾选协议样式********/
.agree_a{
	position: relative;
    top: -30px;
    left: 39px;
    z-index: 108;
}
.agree_a .agree_title{
	color: #12b7f5;
}
/****图片轮播*******/
.swiper-container{
  width:100%;
  max-height:150px; 
}

/**********条款********/
.provision_detail .max_font{
  font-size:1.4rem;
  text-align: center;
  font-weight: bold;
}
.provision_detail .middle_font{
  font-size:1.3rem;
}
.provision_detail .little_font{
  font-size:1.2rem;
  text-indent: 2.4rem;
}
/*.provision_detail .little_table{
	font-size:1.2rem;
}*/
.provision_detail table{
	font-size:1.2rem;
	border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}
.provision_detail table tr:first-child{
	font-weight: bold;
}
.provision_detail table td{
	 border-right:1px solid #666;
	 border-top: 1px solid #666;
	 text-spacing: 2;
	 /*line-height: 1.6rem;*/
}
	 
.agreement{
	line-height: 1.6rem;
}
.agreement a:link,.agreement a:hover,.agreement a:active,.agreement a:visited{
	color: #12b7f5;
	cursor: pointer;
}	 

.taipingyang_pop{
  width:100%;
  height:120%;
}	 
#popup_taipingyang-popup{
  width:100%;
  height:100%;
  background-color: #ffffff;
  overflow:hidden;
  box-shawdow:none;
  border-bottom-width:0;
}
#popup_taipingyang.taipingyang_pop{
  width:100%;
  height:100%;
  box-shawdow:none;
  border-bottom-width:0;
  overflow:hidden;
}
.none_connection{
   display:none;
   background-color:#929292;
   color:#ffffff;
   padding:20px;
   position:absolute;
   top:250px;
   filter:alpha(Opacity=90);
   -moz-opacity:0.9;
   opacity: 0.9;
   text-align:center;
   align:center;
   border-radius:10px;
   left:5%;
   right:5%
}

.content_detail p{
  text-indent: 8px;
  line-height:20px;
  word-spacing: 2px;
}
a.tel_a{
 color:#12b7f5 !important;
}
a.tel_a:link,a.tel_a:hover,a.tel_a:visited,a.tel_a:active{
  color:#12b7f5 !important;
}

/**轮播图***/
#banner { position: relative; overflow: hidden; width:100%; height:110px;}
#banner_list img { width:100%; height:auto; border: 0px; }
#banner ul { position: absolute; list-style-type: none; opacity: 0.5; z-index: 1002; 
  margin: 0; padding: 0; bottom: 0px; margin-left: 45%;}
#banner ul li { width: 6px; height: 6px; display: inline-block; text-indent: -9999px; background-color: #FFF; 
  cursor: pointer; border-radius: 3px;}
#banner ul li.on { background-color: #019dd8; }
#banner_list a { position: absolute; }

.service_desc{
 font-size: 1.2rem;
 line-height: 2.0;
}

.upbox {
    position: absolute;
    width: 100%;
    /* height: 100%;  */
    background: rgba(51, 51, 51, .69);
    z-index: 99;
    left: 0;
    top: 0
}
.outer {
    display: box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: 100%; 
    text-align: center;
}
.inner {
    background: #FFF;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    width: 80%;
    /* padding: 1rem; */
    position: relative;
}
.turn_panel_popup{
    left:2rem;
    right:2rem;
    margin: 0 auto;
    line-height:15.5;
    position: absolute;
    z-index: 150;
    top: 20%;
    padding:2rem;
    
}
.turn_panel_popup_ling{
    left:2rem;
    right:2rem;
    margin: 0 auto;
    position: absolute;
    z-index: 150;
    top: 20%;
    padding:17rem 2rem 2rem 2rem;
}
.turn_panel_popup_caifu{
    left:2rem;
    right:2rem;
    margin: 0 auto;
    position: absolute;
    z-index: 150;
    top: 20%;
    padding:2rem;
    height:25rem;
    
}
.upboxmax{
   background:rgba(0,0,0,.6);
   position:fixed; 
   top:0; 
   left:0; 
   right:0; 
   bottom:0; 
   /* height:100%;  */
   z-index:2000;
   overflow: hidden;
 }
.disclaimer p{
 text-indent: 8px;
 font-size:1.2rem; 
}
.buy_now_btn{
 position: absolute;
 bottom:70px;
 align:center;
 text-align: center;
}

/*  .item_t{
 display: flex;
 display: -webkit-box;
}
.service_left{
 flex:0.7;
 -webkit-box-flex:0.7;
 align-items: center;
 -webkit-align-items:center;
 -webkit-box-align: center;
}
.service_right_btn{
 flex:0.3;
 -webkit-box-flex:0.3;
}  */
/* .right_btn_service{
 vertical-align: bottom;
 margin-top: -4px;
} */
.right_btn{
   /* background-image:url(../img/icon/right_btn.png);
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:right; */
   background: url(../img/icon/right_btn.png) no-repeat;
   background-size: 2rem auto; 
   -webkit-background-size: 2rem auto;
   width: 1.5rem;
   height: 2rem;
}
.activity-area{
 position:relative;
 bottom:.1rem;
 color:#fff;
 background-color:#aacf2a;
 font-size: 1.0rem;
 padding-left:2px;
 padding-right:2px;
}

/*********已购保单***********/
.warrantyList li a{
    background: #FFFFFF;
    /* border: solid 1px #e4e4e4;
    border-left: none;
    border-right: none; */
    font-size: 1.4rem;
    padding: 1.3rem;  /* margin-top:2rem; */
   	margin-top: 0.8rem;
   	display: flex;
    display: -webkit-box;
    /* display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    align-items: center;
    -webkit-align-items:center;
    -webkit-box-align: center;
}
.warrantyList li:first-child{
    margin-top: 1.6rem;
}
.warrantyList li .img_area{
    flex:0.2;
	-webkit-box-flex:0.2;
}
.warrantyList li .img_area img{
    width: 4rem;
    height:4rem;
}
.warrantyList li .insurance_area{
    flex:0.6;
	-webkit-box-flex:0.6;
	line-height:1.8;
}
.warrantyList li .insurance_price{
    flex:0.1;
	-webkit-box-flex:0.1;
}
.warrantyList li .right_area{
    flex:0.1;
	-webkit-box-flex:0.1;
	/* padding-right: 1rem; */
}
.warrantyList li .right_area img{
    width: 1.4rem;
    height:1.4rem;
}
.no_list{
   margin-top: 3rem;
   /* padding:0 6rem 0 6rem; */
   line-height: 2.0;
}
.bg_non_icon img{
   margin-top:2.1rem;
   width:6.3rem;
   height:9rem;
}
.form_div{
   padding-left: 2.3rem;
   padding-right: 2.3rem;
   
}
.form_div .one_line{
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: flex;
   display: -webkit-box;
   align-items: center;
   -webkit-align-items:center;
   -webkit-box-align: center;
   border-bottom:1px solid #e4e4e4;
   position: relative;
   width: 100%;
}
.form_div .one_line:last-child{
	border-bottom:none;
}
/* .form_div .one_line label{
   display:inline-block;
   font-size: 1.4rem;
   width:30%;
   text-align: center;
}
.form_div .one_line input{
    -webkit-user-select: text; 
    text-align:left;
    padding:1rem;
    font-size: 1.4rem;
    border: none;
    width: 50%;
    border:1px solid red;
}
.form_div .one_line img{
    width: 1.4rem;
    height:1.4rem;
    position:absolute;
    right:0;
    bottom: 1rem;
    left:1rem; 
    z-index: 200;
 }
 */

.form_div .one_line .del_btn{
   /* float:right; */
   /* display:block; */
   background-color: #c7c7c7;
   padding:3px;
   text-align:center;
   width:10px;
   height: 10px;
   line-height:10px;
   -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
   
}
/* .form_div .one_line:before{
	content: '';
    position: absolute;
    width: 200%;
    height: 200%;;
    border-bottom:1px solid #e4e4e4;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0rem;
} */
.form_div .one_line .left_area{
    flex:0.4;
	-webkit-box-flex:0.4;
}
.form_div .one_line .right_area{
    flex:0.6;
	-webkit-box-flex:0.6;
}
.right_area input{
    -webkit-user-select: text; 
    text-align:left;
    /* padding:1rem; */
    font-size: 1.4rem;
    border: none;
    width: 100%;
}
.right_area img{
    width: 1.4rem;
    height:1.4rem;
    position:absolute;
    right:0;
    bottom: 1rem;
    /* left:1rem;  */
    z-index: 200;
}
.btn_close_2{position:absolute;
    right:0;
    bottom: 1rem;z-index: 200;
    background:url(../img/icon/close-2.png)  no-repeat;height:14px;width:14px;background-position:0 0;background-size:100% 100%;}
.warranty_inquery_btn{
    background-color: #12b7f5; 
    text-align:center;
    width: 100%;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem; 
    font-size: 1.6rem;
    border: none;
    color: #ffffff;
    -moz-border-radius: 0.55rem; /* Firefox */
    -webkit-border-radius: 0.55rem; /* Safari 和 Chrome */
    border-radius: 0.55rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.warranty_inquery_btn_disabled{
    background-color: #ffffff; 
    text-align:center;
    width: 100%;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem; 
    font-size: 1.6rem;
    border: none;
    color: #c7c7c7;
    -moz-border-radius: 0.55rem; /* Firefox */
    -webkit-border-radius: 0.55rem; /* Safari 和 Chrome */
    border-radius: 0.55rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.warranty_none{
    margin-top: 8rem;
   /* padding:0 6rem 0 6rem; */
   line-height: 2.0;
}
.warranty_list_none{
    margin-top: 3rem;
   /* padding:0 6rem 0 6rem; */
   line-height: 2.0;
}
.none_number_fail{
   -moz-border-radius: 0.55rem; /* Firefox */
   -webkit-border-radius: 0.55rem; /* Safari 和 Chrome */
   border-radius: 0.55rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
   left:2.7rem;
   right:2.7rem;
   margin: 0 auto;
   position: absolute;
   z-index: 150;
   top: 20%;
   /* padding:17rem 2rem 2rem 2rem; */
}
.none_number_fail .top_area{
   /* height:19.1rem;
   background:url('../img/icon/none_number_face.png') no-repeat 0px 0px;
   background-size:100% 72%; */
}
.none_number_fail .top_area .none_number_face{
   width: 100%;
}
.none_number_fail .top_area .info{
   position: relative;
   bottom:4rem;
}
.none_number_fail .top_area .inquery_ok_btn{
   /* margin-top: 0.6rem; */
   margin-bottom: 1.9rem;
}
.none_number_fail .top_area .inquery_ok_btn img{
   width:85%;
}